* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

/* header section  */
.header {
    background-color: #095dc7;
}

.header .container .top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;

}

.header .container .top-header .icon a {
    padding-right: 18px;
    text-decoration: none;
    color: white;

}

.header .container .top-header .info {
    text-align: right;
}

.header .container .top-header .info a {
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.header .container .top-header .info a i {
    padding-right: 6px;
}

.navigation-manu .container .navigation-wraper {
    display: flex;
}

.navigation-manu .container .navigation-wraper .logo {
    width: 30%;
    padding: 30px 0;
}

.navigation-manu .container .navigation-wraper .menu {
    width: 70%;
    text-align: right;
    align-content: center;
}

.navigation-manu .container .navigation-wraper .menu a {
    text-decoration: none;
    color: black;
    padding-left: 32px;
    font-size: 13px;
    font-weight: 600;
}

/* end header section */
/* start banner section */
.banner img {
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    overflow: -moz-hidden-unscrollable;
}

.banner .container .banner-content {
    position: absolute;
    top: 50%;
    width: 45%;
}

.banner .container .banner-content h1 {
    font-size: 72px;
    font-weight: 500;
}

.banner .container .banner-content p {
    font-size: 16px;
    font-weight: 500;
    padding: 40px 0;
    color: #ffff;
}

.banner .container .banner-content .button button {
    padding: 8px 25px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid olive;
    margin-right: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.banner .container .banner-content .button :first-child {
    background-color: olive;
}
.banner .container .banner-content .button :first-child:hover {
    background-color: transparent;
}
.banner .container .banner-content .button button:hover {
    background-color: olive;
}

/* end banner section */
/* start service section */
.service-section .container .business-solution {
    display: flex;
    padding-top: 110px;
}

.service-section .container .business-solution .left-side h3 {
    width: 450px;
    font-weight: 500;
    font-size: 36px;
    border-right: 2px solid #095dc7;
}

.service-section .container .business-solution .right-side p {
    font-size: 14px;
    font-weight: 400;
    padding-left: 45px;
    line-height: 18px;
}

.service-section .container .our-motive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    padding-top: 70px;
    gap: 60px;
}

.service-section .container .our-motive h4 {
    font-size: 21px;
    font-weight: 500;
    padding: 25px 0;
}

.service-section .container .our-motive p {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 110px;
    color: #727272;
}

/* end servise section */
.Our-Best-Figures {
    background-color: #f6f8fa;
}
.Our-Best-Figures .secton-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Our-Best-Figures .secton-wraper .left-side{
    box-sizing: border-box;
}
.Our-Best-Figures .secton-wraper .left-side img {
    width: 82%;
    padding: 70px;
    
}
.Our-Best-Figures .secton-wraper .right-side{
    align-content: center;
  
}


.Our-Best-Figures .right-side .container{
    max-width: 570px;
    margin: 0;
    align-content: center;
}
.Our-Best-Figures .secton-wraper .right-side .container h3{
    font-size: 36px;
    font-weight: 500;
}
.Our-Best-Figures .secton-wraper .right-side .container p{
    padding: 30px 0;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
.Our-Best-Figures .secton-wraper .right-side button{
    font-size: 12px;
    font-weight: 600;
    color: #095dc7;
    border: 1px solid #095dc7;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.Our-Best-Figures .secton-wraper .right-side button:hover{
    background-color: #095dc7;
    color: white;
}
/* start ratin section */
.rating {
    background-color: #f8fafc;
    padding: 90px 0;
}

.rating .container .rating-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
}

.rating .container .rating-wraper h3 {
    font-size: 48px;
    font-weight: 500;

}

.rating .container .rating-wraper p {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}

/* start about section */
.about-section .container .about-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-section .container .about-wraper .left-side h3 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 110px;
}

.about-section .container .about-wraper p {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}

.about-section .container .about-wraper .left-side .author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0;
}

.about-section .container .about-wraper .left-side .author .box {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 1px solid #095dc7;
    background-color: #095dc7;
}

.about-section .container .about-wraper .left-side .author .image-name {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.about-section .container .about-wraper .left-side .author .image-name .author-name {
    text-align: left;
    align-content: center;
}

.about-section .container .about-wraper .left-side .author .sign {
    text-align: right;
    padding-right: 30px;
    align-content: center;
}

/* FAQ STYLE */
.about-section .container .about-wraper .right-side h4 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 110px;
}

.parent-container {
    padding: 0 20px 0 20px;
    max-width: 800px;
    width: 100%;
}

.faq {
    list-style: none;
    padding-left: 40px;
    padding-right: 20px;
}

.faq li {
    border-bottom: 1px solid #999999;
    margin-bottom: 15px;
}

.faq li.active .answer {
    max-height: 275px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease;
    padding-bottom: 0.5s ease;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}

.faq li.active .question {
    color: #095dc7;
    transition: color 0.5s ease;
    font-size: 16px;
}

.faq .answer {
    color: black;
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding-bottom: 0.5s ease;
}

.faq .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 57%;
    z-index: 2;
}

.question {
    position: relative;
}

.question::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    background-color: rgba(182, 179, 179, 0.719);
    left: -46px;
    font-size: 16px;
}

.faq li.active .question::before {
    background-color: #095dc7;
}

.faq .plus-minus-toggle:before,
.faq .plus-minus-toggle:after {
    background: rgba(120, 96, 96, 0.486);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
}

.faq .plus-minus-toggle:after {
    transform-origin: center;
}

.faq .plus-minus-toggle.collapsed:after {
    transform: rotate(90deg);
}

.faq .plus-minus-toggle.collapsed:before {
    transform: rotate(180deg);
}

.faq .question {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
}

/* End faq */
/* start purchase section */

.purchases {
    position: relative;
}

.purchases img {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
}

.purchases .container .p-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    left: 25%;

}

.purchases .container .p-content h3 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 28px;
    text-align: center;
    color: #f6f8fa;
}

.purchases .container .p-content p {
    font-size: 14px;
    font-weight: 400;
    color: #f6f8fa;
    text-align: center;
    padding-bottom: 45px;
}

.purchases .container .p-content button {
    cursor: pointer;
    border: 1px solid olive;
    border-radius: 25px;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: olive;
}

.purchases .container .p-content button:hover {
    background-color: transparent;
}

/* end purchases section */
/* start latest project */
.latest-project {
    padding: 100px 0;
}

.latest-project .container h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 50px;
}

.latest-project .container .latest-project-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* start slider section */
.slider-section {
    position: relative;
}

.slider-section img {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
}

.slider-section .slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    z-index: 1;

}

.slider-section .slider .container h3 {
    font-size: 36px;
    font-weight: 500;
    color: white;
    text-align: center;
    align-content: center;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #564e85;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2f63cc;
}

.slider-section .slider .container p {
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
    color: #cccccc;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 60px;

}

.slider-section .slider .container img {
    width: 25px;
    margin: 0 auto;
}

.slider-section .slider .container h5 {
    text-align: center;
    color: #999999;
    font-size: 14px;
    padding-top: 10px;
}

/* end slider section */
/* sart meet the team section */
.meet-the-team .container .team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    
}
.meet-the-team .container h3{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
    font-size: 36px;
    font-weight: 500;
}
.meet-the-team .container .team{
    padding-bottom: 100px;
}
.meet-the-team .container .team h4{
 padding-top: 20px;
 padding-bottom: 15px;
 font-size: 18px;
 font-weight: 500;
 color: #111111;
}
.meet-the-team .container .team p{
    padding-bottom: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}
.meet-the-team .container .team  a{
    text-decoration: none;
    font-size: 12px;
}
.meet-the-team .container .team a i{
    color: #999999;

}
.meet-the-team .container .team a i:hover{
    color: #111111;
}
/* start sopnsor section */
.sponsors{
    padding: 65px 0;
    background-color: #f8f8f8;
}
.sponsors .container .sopnsor-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
    
}
/* end spoonsor section */
/* start footer section */
footer{
    background-color: #02295a;
    color: white;
    padding-bottom: 90px;
}
footer .container .footer-content{
    display: flex;

}
footer .container .footer-content h3{
    padding-top: 90px;
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
}
footer .container .footer-content a, p, address{
    font-size: 13px;
    font-weight: 400;
    color: #bbb;
}
.contact-us{ 
    width: 260px;
    text-align: left;
}
footer .container .footer-content .contact-us address{
    padding-bottom: 25px;
}
footer .container .footer-content .contact-us a{
    text-decoration: none;
    display: block;
    padding-bottom: 20px;
}
footer .container .footer-content .contact-us .icons ul{
    list-style-type: none;
}
footer .container .footer-content .contact-us .icons ul li{
    display: inline;
}

footer .container .footer-content .contact-us .icons a{
    text-decoration: none;
    display: inline;
    font-size: 12px;
    align-content: center;
}

footer .container .footer-content .contact-us .icons ul li a i {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    color: #fff;
    align-content: center; 
}
footer .container .footer-content .contact-us .icons ul li:first-child a i {
background-color: #365493;
}
footer .container .footer-content .contact-us .icons ul li:nth-child(2) a i {
    background-color: #33ccff;
}
footer .container .footer-content .contact-us .icons ul li:nth-child(3) a i {
    background-color: #d44132;
}
footer .container .footer-content .contact-us .icons ul li:last-child a i {
background-color: #cb2027;
}

.useful-links{
    width: 200px;
}
.useful-links a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    color: #bbb;
    font-size: 13px;
    font-weight: 400;
}

.latest-news{
    width: 420px;
}
.latest-news img{
    width: 75px;
    padding: 0 15px 15px 0;
    text-align: left;
    
}
.latest-news .news-one, .news-tow{
    display: flex;
}
.subscribe{
    width: 290px;
}
.subscribe p{
    padding-bottom: 20px;
}
.subscribe input {
    width: 270px;
    padding: 17px 0;
    color: #999999;
}
footer .container .footer-content .subscribe button{
    width: 270px;
    padding: 17px 0;
    
}
.subscribe input{
    width: 270px;
    border: 1px solid #003f8d;
    box-sizing: border-box;
    background-color: #003f8d;
    text-align: center;
    align-content: center;
    margin-bottom: 15px;
}
.subscribe button{
    border: 1px solid olive;
    background-color: olive;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.subscribe button:hover{
    background-color: transparent;
}
/* socket section start */
.socket{
    background-color: #021a4b;
    padding: 35px;
}
.socket .container .socket-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.socket .container .socket-wraper .left-side p{
    color: white;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 15px;
}
.socket .container .socket-wraper .left-side i{
    color: olive;
}
.socket .container .socket-wraper .right-side a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    padding-left: 30px;
}

/* start inner banner section */
.inner-banner{
    position: relative;
}
.inner-banner img {
    width: 100%;
    background-repeat: no-repeat;
}
.inner-banner .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
}
.inner-banner .container h1{
    font-size: 72px;
    font-weight: 500;
    color: white;
}
.inner-banner .container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

/* about-section */
.about-section .container .about-wraper .right-side img{
    text-align: right;
    padding-left: 30px;
    padding-top: 100px;
}
/* start project header */
.project-header .container{
    padding-bottom: 150px;
}
.project-header .container ul{
    list-style-type: none;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.project-header .container ul li{
    display: inline-block;
}
.project-header .container ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    padding-right: 40px;
    
}
.project-header .container ul li a:hover{
    color: #095dc7;
}
.project-header .container .project-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
}

/* blog page css */

/* left side blog */
.blog-section{
    padding: 100px 0;
}
.blog-section .container .blog-wraper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
}
.blog-section .container .blog-wraper .left-side img{
    display: cover;
    background-repeat: no-repeat;
}
.blog-section .container .blog-wraper .left-side h3{
    font-size: 24px;
    font-weight: 500;
    padding: 25px 0;
}
.blog-section .container .blog-wraper .left-side p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    padding-bottom: 25px;
}
.blog-section .container .blog-wraper .left-side .menu{
    border: 1px solid #6666;
    padding: 15px 20px;
    display: flex;
    margin-bottom: 60px;
}
.blog-section .container .blog-wraper .left-side .menu ul{
    list-style-type: none;
    width: 572px;
}
.blog-section .container .blog-wraper .left-side .menu ul li{
    display: inline-block;
    padding-right: 40px;
}
.blog-section .container .blog-wraper .left-side .menu a{ 
    text-decoration: none;
    font-size: 12px;
}
.blog-section .container .blog-wraper .left-side .menu span{
    width: 100%;
    text-align: right;
}
.blog-section .container .blog-wraper .left-side .nev a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'lato';
    color: #666666;
    
}
.blog-section .container .blog-wraper .left-side .nev div{
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: inline-block;
    align-content: center;
    text-align: center;
    /* background-color: #095ec7e6;
    border: 1px solid #666666; */
    
}
.blog-section .container .blog-wraper .left-side .nev div:hover{
    background-color: #095ec7e6;
    border: 1px solid #095ec7e6;
}
.blog-section .container .blog-wraper .left-side .nev button{
    width: 34px;
    height: 34px;
    border: 1px solid #666666;
    border-radius: 100%;
}
.blog-section .container .blog-wraper .left-side .nev button:hover{
     background-color: #095ec7e6;
    border: 1px solid #095ec7e6;
    color: white;
}

/* blog right side css */
.blog-section .container .blog-wraper .right-side h3{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-bottom: 14px;
}
.blog-section .container .blog-wraper .right-side h3::after{
    content: '';
     position: absolute;
    width: 50px;
    background-color: #095dc7;
    height: 2px;
    left: 0;
    bottom: 0;
}
.blog-section .container .blog-wraper .right-side form{
    padding-bottom: 48px;
}
.blog-section .container .blog-wraper .right-side form label{
    font-size: 14px;
    font-family: 'lato';
    font-weight: 400;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #666666;
}
.blog-section .container .blog-wraper .right-side form div{
    position: relative;
}
.blog-section .container .blog-wraper .right-side form input{
    font-size: 12px;
    font-family: 'lato';
    font-weight: 400;
    width: 100%;
    padding: 18px;
    position: relative;
}
.blog-section .container .blog-wraper .right-side form i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #095dc7;
}
.blog-section .container .blog-wraper .right-side .blog .blog-wrap{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
    gap :10px;
}
.blog-section .container .blog-wraper .right-side .blog img{
    width: 80px;
    height: 70px;
}
.blog-section .container .blog-wraper .right-side .blog h4{
    font-size: 13px;
    font-weight: 500;
padding-bottom: 15px;
}
.blog-section .container .blog-wraper .right-side .blog a{
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    text-decoration: none;
}
.blog-section .container .blog-wraper .right-side .blog i{
    color: #003f8d;
    font-size: 10px;
    padding-right: 5px;
}
.blog-section .container .blog-wraper .right-side .banner-adds {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
}
.blog-section .container .blog-wraper .right-side .project-header .project-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 35px;
}
.blog-section .container .blog-wraper .right-side .project-header .project-wraper img{
    width: 100px;
    height: 100px;
}

/* contact page css */

/* info section start*/
.info-section .container .info-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    text-align: center;
    align-content: center;
    margin-bottom: 100px;

}
.info-section .container .info-wraper i{
    padding-top: 110px;
    padding-bottom: 45px;
    color: #095dc7;
    font-size: 30px;
}
.info-section .container .info-wraper h3{
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 25px;
}
.info-section .container .info-wraper p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    padding-bottom: 30px;
}
.info-section .container .info-wraper a{
    padding-top: 30px;
    padding-bottom: 110px;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #111111;
    
}

/* start form section */
.form-section{
    background-color: #f8fafc;
}
.form-section .container {
    text-align: center;
}
.form-section .container h3{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
}
.form-section .container form{
    width: 720px;
    margin: 0 auto;
}
.form-section .container form .form-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.form-section .container form .form-one div input{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}

.form-section .container form .form-part-tow input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.form-section .container form .form-part-tow textarea{
    height: 150px;
}
.form-section .container form button{
    padding: 15px 50px;
    border: 1px solid #095dc7;
    border-radius: 30px;
    background-color: #095dc7;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 145px;
    cursor: pointer;
}
.form-section .container form button:hover{
    background-color: transparent;
    color: #095dc7;
}